.banner .swiper-horizontal>.swiper-pagination-bullets,
.banner .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: -130px;
    bottom: 30px;
}

.blog .swiper-horizontal>.swiper-pagination-bullets,
.blog .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 0px;
    bottom: 65px;
}


.projects .swiper-button-next,
.projects .swiper-button-prev {
    bottom: 60px;
    top: inherit;
    color: #87888A;
    display: none;
}

.projects .swiper-button-next:after,
.projects .swiper-button-prev:after {
    font-size: 26px;
}

.projects .swiper-button-prev {
    left: calc(50% - 92px);
}

.projects .swiper-button-next {
    right: calc(50% - 92px);
}

.swiper-pagination-bullet {
    opacity: inherit;
    border: 10px solid #fff;
    background: #939598;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 40px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 40px));
}

.swiper-pagination-bullet-active {
    background: #D51E23;
}

.blog .swiper-wrapper{
    padding-bottom: 160px;
}

@media screen and (max-width: 1450px) {
    .banner .swiper-horizontal>.swiper-pagination-bullets, .banner .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 0;
        left: 0;
        padding-bottom: 10px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        height: 30px;
        width: 30px;
    }
}